* {
    box-sizing: border-box;
}
header{
    padding:50px;
    text-align: center;
    background-color:lightcyan;
    font-family:sans-serif;
    border: 2px solid green;
}
nav{
    padding: 10px;
    
}

    

button{
    width:175px; 
    height:25px; 
    font-family:'Times New Roman';
    border:1px solid green;

}


body{
    background-color:lightblue;
}
.apa{
    padding: 50px;
    
    
}